/* Stylesheet for the Partnership for People with Disabilities Website */

/*--Option 1: Removes the horizontal scroll when in mobile view--*/
/*--Reference: https://github.com/twbs/bootstrap/issues/10711 -- noblesilence commented on Oct 18, 2013--*/
/*body{
	overflow-x: hidden;
}*/

/*--Option 2: Use .container-fluid instead of .container on row--*/
/*--Reference: http://stackoverflow.com/questions/23768152/using-container-fluid-within-bootstrap-cause-horizontal-scrollbar--*/
/*----------------------------------------------------*/


/*--General Styles--*/

/*.returnToTop{
	padding-top: 10px;
	padding-right: 30px;
}
*/

a{
	color: #000;
}


.returnToTop a{
	color: #000;
}

.row-border-bottom{
	border-bottom: #644764 solid 5px;
}

.row-border-top, 
.container-border-top{
	border-top: #644764 solid 5px;
}

.row-color, 
.container-color{
	background-color: #eff6f9;
}

.row-padding-top{
	/*padding-top: 30px;*/
}

.border-right{
	border-right: #644764 solid 2px;
}

.breadcrumb-border-top{
	border-top: #644764 solid 2px;
}

.list-group-item {
	/*border: #644764 1px solid;*/
}

.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover{
  background-color: #B5D6E7;
  color: #000;
}

.menu-style{
	list-style: none;
}

.menu-style a{
	color: #000;
}

.menu-style li{
	padding-bottom: 5px;
}
/*---------------------------------------------------
---------------------------------------------------*/

/*--Navigation--*/

#nav{
	background-color: #eff6f9;
	margin-bottom: 0px;
}

#text-adjust{
	margin-top: 15px;
    margin-left: 12px;
}

#searchbar{
	border-top: #000 solid 1px;
	background-color: #eff6f9;
	padding:15px 0;
}

/*---------------------------------------------------
---------------------------------------------------*/

/*--Image Slider--*/
#myCarousel{
	border-bottom: #644764 solid 5px;
}

/*---------------------------------------------------
---------------------------------------------------*/

/*--Mission and Values--*/

#introText{
	border-right: #644764 solid 5px;
}


/*#learn-more-menu{
	list-style: none;
}*/

#learn-more-menu li{
	/*padding-bottom: 5px;*/
}

#learn-more-menu a{
	color: #000;
}

#directorPhoto{
	padding-right: 8px;
}


/*---------------------------------------------------
---------------------------------------------------*/

/*--News and Events--*/

.news-events-header{
	padding: 20px 0px;
}


/*---------------------------------------------------
---------------------------------------------------*/

/*--Our Programs--*/

.program-img-padding{
	padding-bottom: 12px;
}

/*---------------------------------------------------
---------------------------------------------------*/


/*---------------------------------------------------
---------------------------------------------------*/

/*--Education and Training Opportunities--*/


/*---------------------------------------------------
---------------------------------------------------*/


/*--Footer--*/


.footer{
	/*width: 100%;*/
	background-color: #644764;
	color: #fff;
}

.footer ul li{
	list-style: none;
}

.footer a{
	color: #fff;
}

.footer a i{
	font-size: 18px;
}

#footer-bottom{
	margin-left: -55px;


/*---------------------------------------------------
---------------------------------------------------*/

/*--Consumer Advisory Council--*/
#consumer-intro{
  border-bottom: #eee solid 3px;
}

#consumer-intro p{
  padding: 0px 570px 0px 15px;
}

#consumer-gallery{
  padding-top: 20px;
}

#consumer-gallery ul li{
  padding-right: 20px;
  padding-bottom: 8px;
  list-style: none;

}

/*-------------------------------------------------------
---------------------------------------------------------*/

/*--Employment Opportunities Syles--*/

#employment{
  margin-bottom: 150px;
}

#employment ul li{
  list-style: none;
  padding-bottom: 15px;
}


/*-------------------------------------------------------
---------------------------------------------------------*/


/*--News and Events Styles--*/
.article-event-intro a, a:active {
  color: #337ab7;
}

.article-event-intro a:hover{
  color: #337ab7;
  text-decoration: underline;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
  background-color: #B5D6E7;
  color: #000;
}

#news-full-article{
  padding: 0px 260px 50px 0px;
}

#article-img{
  padding-bottom: 15px;
  margin-left: 0px;
}

.register-btn{
  margin-top: -30px;
  margin-bottom: 15px;
}

#event-text, #program-text{
  padding-right: 220px;
}

#event-text p, #program-text p{
  padding-bottom: 20px;
}

.event-img, .program-img{
  padding-bottom: 20px;
  margin: 0px;
}

.program-contact{
  padding-left: 15px;
}

/*-------------------------------------------------------
---------------------------------------------------------*/

/*--Products Styles--*/

#products{
  margin-bottom: 30px;
}

.product-img{
  width: 225px;
  height: 220px;
  margin-left: 10px;
  margin-right: 20px;
}

.dl-btn{
  margin-top: 12px;
}

.pubs-icon{
  font-size: 40px;
}

.pubs-row-adjust{
  margin: 15px 50px 20px 50px;
}

/*-------------------------------------------------------
---------------------------------------------------------*/


/*--Publications Styles--*/
#annual ul li, 
#newsletter ul li, 
#other-pubs ul li
{
  padding-bottom: 10px;
}

/*-------------------------------------------------------
---------------------------------------------------------*/


/*--Dontation Styles--*/
#donate-intro{
  padding-bottom: 35px;
}

#support-txt{
  border-right: #644764 solid 5px;
  padding-right: 50px;
}

#donate-contact{
  padding-top: 30px;
  padding-bottom: 50px;
}

#donate-address{
  padding-left: 50px;
}

#donations{
  margin-bottom: 50px;
}

.donate-divider{
  border: #644764 solid 2px;
}

/*-------------------------------------------------------
---------------------------------------------------------*/


/*--Resources Styles--*/
#general, 
#federal, 
#state{
  margin-top: 20px;
  margin-bottom: 20px;
}

/*-------------------------------------------------------
---------------------------------------------------------*/

/*--Feedback Form Styles--*/
#feedback-form{
  margin: 30px 0px;
}


/*-------------------------------------------------------
---------------------------------------------------------*/

/*--Staff Styles--*/
#staff-select ul{
  list-style-type: none;
}

#staff-select li{
  display: inline-block;
  padding: 10px;
  font-size: 22px;
}

#staff-select a{
  color: #644764;
}
