/* Stylesheet for the Partnership for People with Disabilities Website */

/*--Option 1: Removes the horizontal scroll when in mobile view--*/
/*--Reference: https://github.com/twbs/bootstrap/issues/10711 -- noblesilence commented on Oct 18, 2013--*/
/*body{
	overflow-x: hidden;
}*/

/*--Option 2: Use .container-fluid instead of .container on row--*/
/*--Reference: http://stackoverflow.com/questions/23768152/using-container-fluid-within-bootstrap-cause-horizontal-scrollbar--*/
/*----------------------------------------------------*/


/*--General Styles--*/

a{
	color: #000;
}

.returnToTop a{
	color: #000;
}

.row-border-bottom{
	border-bottom: #644764 solid 5px;
}

.row-border-top, 
.container-border-top{
	border-top: #644764 solid 5px;
}

.row-color, 
.container-color{
	background-color: #eff6f9;
}

.border-right{
	border-right: #644764 solid 2px;
}

.breadcrumb-border-top{
	border-top: #644764 solid 2px;
}

.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover{
  background-color: #B5D6E7;
  color: #000;
}

.menu-style{
	list-style: none;
}

.menu-style a{
	color: #000;
}

.menu-style li{
	padding-bottom: 5px;
}

.fixed-to-bottom{
	top:auto;
	bottom:100%;
}
/*---------------------------------------------------
---------------------------------------------------*/

/*--Navigation--*/

#nav{
	background-color: #eff6f9;
	margin-bottom: 0px;
}

#text-adjust{
	margin-top: 15px;
    margin-left: 12px;
}

#searchbar{
	border-top: #000 solid 1px;
	background-color: #eff6f9;
	padding:15px 0;
}

/*---------------------------------------------------
---------------------------------------------------*/

/*--Image Slider--*/
#myCarousel{
	border-bottom: #644764 solid 5px;
}

/*---------------------------------------------------
---------------------------------------------------*/

/*--Mission and Values--*/

#introText{
	border-right: #644764 solid 5px;
}

#learn-more-menu li{
	/*padding-bottom: 5px;*/
}

#learn-more-menu a{
	color: #000;
}

#directorPhoto{
	padding-right: 8px;
}


/*---------------------------------------------------
---------------------------------------------------*/

/*--News and Events--*/

.news-events-header{
	padding: 20px 0px;
}

/*---------------------------------------------------
---------------------------------------------------*/

/*--Our Programs--*/

.program-img-padding{
	padding-bottom: 12px;
}

/*---------------------------------------------------
---------------------------------------------------*/

/*--Consumer Advisory Council--*/

#council-members{
	margin-bottom: 20px;
}

/*---------------------------------------------------
---------------------------------------------------*/

/*--Employment Opportunities--*/

#employment{
	margin-bottom: 145px;
}

/*---------------------------------------------------
---------------------------------------------------*/

/*--Staff--*/

#staff-select ul{
  list-style-type: none;
}

#staff-select li{
  display: inline-block;
  padding: 10px;
  font-size: 22px;
}

#staff-select a{
  color: #644764;
}


/*---------------------------------------------------
---------------------------------------------------*/

/*--Products--*/

.products-margin-bottom{
	margin-bottom: 145px;
}

.product-img{
  width: 230px;
  height: 230px;
  margin-left: 10px;
  margin-right: 20px;
}

.dl-btn{
  margin-top: 12px;
}

.pubs-icon{
  font-size: 40px;
}

.pubs-row-adjust{
  margin: 15px 50px 20px 50px;
}

/*---------------------------------------------------
---------------------------------------------------*/

/*--Publications--*/

.pubs-margin-bottom{
	margin-bottom: 60px;
}

/*---------------------------------------------------
---------------------------------------------------*/

/*--Dontation Styles--*/

#donate-intro{
  padding-bottom: 35px;
}

#support-txt{
  border-right: #644764 solid 5px;
  padding-right: 50px;
}

#donate-contact{
  padding-top: 30px;
  padding-bottom: 50px;
}

#donate-address{
  padding-left: 50px;
}

#donations{
  margin-bottom: 50px;
}

.donate-divider{
  border: #644764 solid 2px;
}

/*---------------------------------------------------
---------------------------------------------------*/

/*--News and Events Articles List--*/

.news-events-margin-bottom{
	margin-bottom: 100px;
}

.article-img{
	padding: 20px;
}

.event-img{
	padding: 0 20px 20px 0;
}

#event-text{
  padding: 20px;
}

#event-text p{
  padding-bottom: 20px;
}

.register-btn{
  margin-top: -30px;
  margin-bottom: 15px;
}


/*---------------------------------------------------
---------------------------------------------------*/

/*--Footer--*/


.footer{
	/*width: 100%;*/
	background-color: #644764;
	color: #fff;
}

.footer ul li{
	list-style: none;
}

.footer a{
	color: #fff;
}

.footer a i{
	font-size: 18px;
}

#footer-bottom{
	margin-left: -55px;
}

#feedback-form{
  margin: 30px 0px;
}

/*---------------------------------------------------
---------------------------------------------------*/

