#logo {
  padding: 10px;
}

#header {
  background-color: #eff6f9; /*original color: #B5D6E7*/
  margin: 0px;
}

#text-adjust {
  float: right;
  padding-top: 10px;
  padding-right: 190px;
}

a, a:visited, a:active {
  color: #000;
  text-decoration: none;
}

a:hover{
  color: blue;
  text-decoration: none;
}

.container {
  padding-top: 10px;
}

/*Removes space above menu*/
.navbar {
  background-color: #eff6f9; /*original color: #B5D6E7*/
  padding-top: 10px;
  border: none;
}

.navbar .nav {
  margin-bottom: 20px;
}

.navbar-collapse {
  padding-left: 170px;
}

.navbar-header .btn {
  margin-right: 5px;
}
  
/*Lines up search input with menu*/
.form-group {
  margin-top: -8px;
}

/*Lines up search button with input*/
#search-btn {
  margin-left: -5px;
  margin-top: -8px;
}

/*Possibly menu slide option*/
/*.isStuck .navbar-inverse .navbar-nav>.active>a, .isStuck .navbar-inverse .navbar-nav>.active>a:focus{
  background: #181a1c;
  color:#fff ;
}
.isStuck .navbar.navbar-inverse.navbar-static-top a:hover{
  background:#181a1c;
  color:#fff;
}
.isStuck .navbar.navbar-inverse.navbar-static-top a{
  color:#000;
}

.stuckMenu{
  -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
  
  background: transparent;
}
.isStuck{
  background:#ff554e ;
  
  -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}*/


/*Remove space btwn carousel and menu*/
.carousel {
  top: -20px;
  width: 100%;
  margin: 0px auto;
}

/*Centers carousel image*/
.carousel-inner > .item > img {
  margin: 0 auto;
}

.navbar-default,
#myCarousel,
#welcome,
#news-events,
#programs,
#education-training {
  border-bottom: #000 solid 3px; /*for layout - delete later*/
}

#welcome-header{
  margin-top: -3px;
  margin-bottom: 20px;
}

#welcome-text,
#news {
  border-right: #eee solid 5px;
}

#welcome p,
#training p {
  padding-bottom: 15px;
}

#welcome p,
img {
  margin: 0px 80px;
}

#directorPhoto {
  padding: 5px 12px;
}

#mission-title,
#learn-more {
  padding-left: 30px;
}

#mission-statement {
  margin: 10px 30px;
}

#learn-more {
  margin-top: 25px;
}

#learn-more-list,
#training-list {
  list-style: none;
  margin-left: 10px;
}

#learn-more-list li,
#training-list li {
  padding-bottom: 5px;
}

#training-text{
  margin-left: 75px;
}

#news img,
#events img {
  margin: 0px 15px 0px 0px;
}

.list-group {
  margin: 0px 50px;
}

.list-group-item {
  padding: 25px 15px;
  margin: 0px 20px;
}

#program-header {
  margin-top: 20px;
}

#education p,
#health p,
#family p {
  margin: 15px 90px;
}

#training p {
  margin: 15px 50px;
}

#training-img {
  padding-bottom: 20px;
}

#training-list li {
  padding-top: 5px;
}

footer{
  color: #fff;
  background-color: #000;
}

#contact {
  margin-left: 40px;
}

#school-links {
  list-style: none;
  margin-left: -15px;
}

#footer-menu,
#social {
  list-style: none;
}

#footer-menu a, a:visited, a:hover,a:active {
  color: #fff;
  text-decoration: none;
}

#social li i {
  font-size: 22px;
}

.breadcrumb{
  margin-top: 0px;
}

.breadcrumb a, a:visited, a:hover, a:active{
  color: #000;
}

#consumer-intro{
  border-bottom: #eee solid 3px;
}

#consumer-intro p{
  padding: 0px 570px 0px 15px;
}

#consumer-gallery{
  padding-top: 20px;
}

#consumer-gallery ul li{
  padding-right: 20px;
  list-style: none;
}

#employment{
  margin-bottom: 150px;
}

#employment ul li{
  list-style: none;
  padding-bottom: 15px;
}

.article-event-intro{
  padding-right: 300px;
  padding-bottom: 15px;
}

.article-event-intro a, a:active {
  color: #337ab7;
}

.article-event-intro a:hover{
  color: #337ab7;
  text-decoration: underline;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
  background-color: #B5D6E7;
  color: #000;
}

#news-full-article{
  padding: 0px 260px 50px 0px;
}

#article-img{
  padding-bottom: 15px;
  margin-left: 0px;
}

.register-btn{
  margin-top: -30px;
  margin-bottom: 15px;
}

#event-text, #program-text{
  padding-right: 220px;
}

#event-text p, #program-text p{
  padding-bottom: 20px;
}

.event-img, .program-img{
  padding-bottom: 20px;
  margin: 0px;
}

.program-contact{
  padding-left: 15px;
}
