#logo {
  padding: 10px;
}

#header {
  background-color: #B5D6E7;
  margin: 0px;
}

#text-adjust {
  float: right;
  padding-top: 10px;
  padding-right: 210px;
}

.container {
  padding-top: 10px;
}

/*Removes space above menu*/
.navbar {
  background-color: #B5D6E7;
  padding-top: 10px;
  border: none;
}

.navbar .nav {
  margin-bottom: 20px;
}

.navbar-collapse {
  padding-left: 170px;
}

.navbar-header .btn {
  margin-right: 5px;
}

/*Lines up search input with menu*/
.form-group {
  margin-top: -8px;
}

/*Lines up search button with input*/
#search-btn {
  margin-left: -5px;
  margin-top: -8px;
}

/*Remove space btwn carousel and menu*/
.carousel {
  top: -20px;
  width: 100%;
  margin: 0px auto;
}

/*Centers carousel image*/
.carousel-inner > .item > img {
  margin: 0 auto;
}

#welcome,
#news {
  border-right: #eee solid 5px;
}

#welcome p, #training p {
  padding-bottom: 15px;
}

#welcome p,
img {
  margin: 0px 80px;
}

#directorPhoto {
  padding: 5px 12px;
}

#mission-title,
#learn-more {
  padding-left: 30px;
}

#mission-statement {
  margin: 10px 80px;
}

#learn-more {
  margin-top: 50px;
}

#learn-more-list, #training-list {
  list-style: none;
  margin-left: 10px;
}

#learn-more-list li, #training-list li {
  padding-bottom: 5px;
}

#news img,
#events img {
  margin: 0px 15px 0px 0px;
}

.list-group {
  margin: 0px 50px;
}

.list-group-item {
  padding: 25px 15px;
  margin: 0px 20px;
}

#program-header{
  margin-top: 20px;
}

#education p, #health p, #family p{
  margin: 15px 90px;
}

#training p{
  margin: 15px 50px;
}

#training-img{
  padding-bottom: 20px;
}

#training-list li{
  padding-top: 5px;
}

#contact{
  margin-left: 40px;
}
